<div class="topic-card__op">
    <UserLink @user={{@topic.creator}}>
        {{avatar @topic.creator imageSize="tiny"}}
        <span class="username">
        {{@topic.creator.username}}
        </span>
        <span>
        Test
        </span>
    </UserLink>
</div>